.button_main {
    background-color: gray;
}  
.bar{
    fill: red;
}

.bar:hover{
    fill:orange;
}

.chart-controls {
    display: flex !important;
    flex-direction: row !important;
    padding-top: 10px !important;
    flex-wrap: wrap;

}

.chart-button-controls {
    margin-left: 20px  !important;
    margin-right: 20px !important; 
    margin-top: 5px !important; 
    margin-bottom: 5px !important; 
}
.buttonCountry{
    width: 50px;
}

.buttonIndicator {

}

.chart_div{
    margin-top: 20px;
}

#tooltip {
    position: absolute;
    display: none;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    pointer-events: none; /* Asigurați-vă că tooltip-ul nu interferează cu evenimentele mouse-ului */
}